@import 'https://fonts.googleapis.com/css?family=Open+Sans';
.game{
    padding-left: 0px;
    padding-right:5px; 
    display: flex;
    display: inline-block;
    flex:wrap;
    margin-left:32%;
    width:37%;
    max-height: 60%;
   background-image: url('http://media1.santabanta.com/full1/Indian%20%20Celebrities(M)/Hrithik%20Roshan/hrithik-roshan-89a.jpg');
    overflow: hidden;
} 