@import 'https://fonts.googleapis.com/css?family=Open+Sans';
.game{
    padding-left: 0px;
    padding-right:0px; 
    display: flex;
    display: inline-block;
    flex:wrap;
    margin-left:40%;
    width:19%;
    max-height: 50%;
   background-image: url('https://mixtt.files.wordpress.com/2008/06/alpha.jpg');
    overflow: hidden;
}