@import 'https://fonts.googleapis.com/css?family=Open+Sans';
.game{
    padding-left: 0px;
    padding-right:5px; 
    display: flex;
    display: inline-block;
    flex:wrap;
    margin-left:22%;
    width:55%;
    max-height: 60%;
   background-image: url('http://www.tajmahal.org.uk/gifs/taj-mahal.jpeg');
    overflow: hidden;
}