@import 'https://fonts.googleapis.com/css?family=Open+Sans';
.game{
    padding-left: 0px;
    padding-right:5px; 
    display: flex;
    display: inline-block;
    flex:wrap;
    margin-left:18%;
    width:64%;
    max-height: 60%;
   background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Home_made_Indian_Panipuri.jpg/1280px-Home_made_Indian_Panipuri.jpg');
    overflow: hidden;
}